html {
    background-color:navy;
}

body {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    padding: 10px 75px;
    margin: auto;
    margin-top: 40px;
}

#title {
    border: green;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.274);
color: rgb(0, 0, 0);
}

#log {
    background-color: rgba(35, 146, 85, 0.486);
    border-bottom: 100px;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );  
}

#btn {
    cursor: pointer;
}